<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/headers.ejs')%>
        <link href="css/auth.css" rel="stylesheet">
        <title>User Registration</title>
</head>

<body>
    <div>
        <div class="top_navbar center_text">
            <a href="/">Back to Home Page</a>
        </div>
        <div class="error">
            <% if(errors !=="") { %>
                <% errors.forEach((item)=>{ %>
                    <div class="alert">
                        <%- item%>
                    </div>
                    <%})%>
                        <%}%>
        </div>
    </div>
    <form method="post" action="/forgotPassword">
        <div class="formContainer container">
            <fieldset>
                <legend>Forgot Password</legend>
                <div class="group-input">
                    <label for="email">Email: </label>
                    <input type="email" name="email" id="email" required>
                </div>
                <button type="submit">Send reset link</button>
            </fieldset>
        </div>
    </form>

</body>

</html>