<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/auth.css" rel="stylesheet">
    <title>Forgot Password Page</title>
</head>

<body>
    <div>
        <div class="error">
            <% if(errors !=="") { %>
                <% errors.forEach((item)=>{ %>
                    <div class="alert">
                        <%- item%>
                    </div>
                    <%})%>
                        <%}%>
        </div>
        <form method="post" action="/forgot-password">

            <div class="container">
                <fieldset>
                    <legend>Forgot Password</legend>
                    <div class="group-input">
                        <label for="email">Email: </label>
                        <input type="email" name="email" id="email">
                    </div>
                    <button type="submit">Send reset link</button>
                </fieldset>
            </div>
        </form>
    </div>
</body>

</html>