<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/headers.ejs')%>
        <link href="css/auth.css" rel="stylesheet">
        <title>Reset Password Page</title>
</head>

<body>
    <div>
        <div class="top_navbar center_text">
            <a href="/">Back to Home Page</a>
        </div>
    </div>
    <form method="post" action="/updatePassword">
        <div class="formContainer container">
            <fieldset>
                <legend>Forgot Password</legend>
                <div class="group-input">
                    <label for="password">New password: </label>
                    <input type="password" name="password" id="password" pattern=".{4,}" required title="4 characters minimum">
                    <input type="hidden" name="token" class="form-control" value="<%= token %>">
                </div>
                <button type="submit">Update Password</button>
            </fieldset>
        </div>
    </form>

</body>

</html>