<nav class="navbar">
    <div class="content">
        <div class="logo">
            <a href="index.html">Open Days</a>
        </div>
        <ul class="menu-list">
            <div class="icon cancel-btn">
                <i class="fas fa-times" aria-hidden="true"></i>
            </div>
            <li class="logo">
                <a href="index.html" class=>Book an Open Day</a></li>
            <li class="logo"><a href="/login">Login</a></li>
        </ul>
        </li>
        <div class="icon menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>