<nav class="top_navbar">
    <div class="navContainer">
        <a href="/">
            <img src="/images/logo.png" width="100" height="100" alt="logo">
        </a>
        <ul class="menu-list">
            <div class="icon cancel-btn">
                <i class="fas fa-times" aria-hidden="true"></i>
            </div>

            <li class="logo"><a href="/register">Register</a></li>
            <li class="logo"><a href="/login">Login</a></li>
        </ul>
        </li>
        <div class="icon menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>