<nav class="navbar">
    <div class="content">
        <div class="logo">
            <a href="index.html">Open Days</a>
        </div>
        <ul class="menu-list">
            <div class="icon cancel-btn">
                <i class="fas fa-times"></i>
            </div>
            <li class="logo"><a href="/">Book an Open Day</a></li>
        </ul>
        <ul class="menu-list">
            <div class="logo">
                <li class="logo"><a href="login.html">Login</a></li>
            </div>
        </ul>
        <div class="icon menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>