<% data.forEach((item)=>{ %>
    <div class="polaroid">
        <div class="container">
            <h4>
                <%- item.userId  %>
            </h4>
        </div>

        <div>
            <img src="<%- item.image %>" alt="<%item.university%>" class="image">
        </div>
        <div class="title">
            <%- item.description %>
        </div>
        <div class="container">
            <form method="post" action="/submit_interest"><button type="submit" class="submit_button"> Register your interest</button></form>
        </div>
    </div>

    <%})%>