<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/headers.ejs') %>
        <link href="css/auth.css" rel="stylesheet">
        <title>User bookings</title>
</head>

<body>
    <div class="top_navbar center_text">
        <a href="/profile">Back to Profile</a>
    </div>

    <div><br><br><br>
        <h1 class="center_text"> Your attending to: </h1>
        <h1>
        </h1>
        <% if (mybookings[0] != 'undefined') {%>
            <% mybookings[0].forEach((item)=>{ %>

                <div class="polaroid">
                    <div class="container">
                        <h4>
                            EVENT
                            <%- item.description  %>
                        </h4>
                    </div>

                    <div>
                        <h4>
                            USER
                            <%- item.userId %>
                        </h4>
                    </div>
                    <div class="title">

                    </div>
                    <p>-----------------------------------------------------------</p>

                </div>

                <%})}%>
</body>

</html>